
        body {
            font-family: 'Segoe UI', sans-serif;
            background-color: #c9c6c6;
            color: #333;
            margin: 0;
            padding: 40px;
        }



        h1 {
            color: #007BFF;
            
        }

        h2 {
            border: 2px dashed black;
            color: #555;
            font-style: arial, sans-serif;
        }

        p {
            color: #ff6161;
            font-size: 16px;
            text-align: justify;
            line-height: 1.6;
            font-weight: bold;
        }


        
